{% load static %}
{% block content %}
<div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center">
          <div class="col-lg-6 position-relative" data-aos="fade-right" data-aos-delay="200">
            <div class="about-image">
              <img src="{% static 'images/profile/profile2.jpg' %}" alt="Profile Image" class="img-fluid rounded-4">
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">
            <div class="about-content">
              <span class="subtitle">About Me</span>

              <h2>Artistic Photographer</h2>

              <p class="lead mb-4">
               I'm a passionate Photographer dedicated to transforming fleeting moments into timeless art. This portofolio is a curated collection of my work, showcasing my distinct style and commintment to excellence in photography.
              </p>

              <p class="lead mb-4">
               With a keen eye for detail and dedication to masterful composition and lighting, I speciliaze in evocative portraiture, storytelling and artistry. Explore to see how to see how I capture geunine emotion and compelling narratives with creativity and precision.
              </p>

              <div class="personal-info">
                <div class="row g-4">
                  <div class="col-6">
                    <div class="info-item">
                      <span class="label">Name</span>
                      <span class="value">Messach Holli</span>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="info-item">
                      <span class="label">Phone</span>
                      <span class="value">+256778777728</span>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="info-item">
                      <span class="label">Age</span>
                      <span class="value">27 Years</span>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="info-item">
                      <span class="label">Email</span>
                      <span class="value">messachholy@gmail.com</span>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="info-item">
                      <span class="label">Occupation</span>
                      <span class="value">Artistic Photographer</span>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="info-item">
                      <span class="label">Nationality</span>
                      <span class="value">Ugandan</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="signature mt-4">
                <div class="signature-image">
                  <img src="assets/img/misc/signature-1.webp" alt="" class="img-fluid">
                </div>
                <div class="signature-info">
                  <h4>Messach Holli</h4>
                  <p>Holli Xplicits</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
{% endblock %}