{% load static %}
<footer id="footer" class="footer">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">HolliXplicits</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href="https://x.com/MessachHolli"><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.facebook.com/messach.holli"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/holli_xplicit_shots/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/holli-explicit-shots"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>

  </footer>